.main-div {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-div {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-div > input {
    width: 75%;
    min-width: 256px;
    margin: 0px 8px 16px 8px;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 8px;
}

.login-div > button {
    width: 75%;
    margin: 0px 8px 8px 8px;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 8px;
}


.login-div > .register-p {
    font-size: 0.75em;
    color: blue;
}

.login-div > .register-p:hover {
    text-decoration: underline;
}

.statusMessage {
    font-size: 0.75em;
    border-radius: 8px;
    margin: 8px;
    padding: 0px 8px 0px 8px;
}

.statusMessage.error {
    background-color: #fca5a5;
    border: 1px solid #b91c1c;
}

.statusMessage.success {
    background-color: #81c784;
    border: 1px solid #4caf50;
}

.home-div {
    width: 100%;
    margin: 8px;
}

.your-events-div {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.your-events-div > button {
    min-height: 32px;
    width: 10%;

    background-color: #81c784;
    border: 1px solid #4caf50;
    border-radius: 8px;

    font-size: 0.75rem;
}

.your-events-div > button:hover {
    background-color: #388e3c;
    color: white;
}

.event-list-item-div {
    width: 50%;
    border: 2px solid black;
    border-radius: 16px;
    background-color: #cfd8dc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 16px;
    margin-bottom: 16px;
}

.event-list-item-div > .event-list-item-inner-div {
    width: 100%;

    display: flex;
    flex-direction: row;
}

.event-list-item-div > .event-list-item-inner-div > .participants-div {
    width: 20%;
    margin: 8px;
}

.add-event-form-div {
    width: 45%;
    background-color: #e6ee9c;
    border: 2px solid black;
    margin: 8px 0px 8px 0px;
    padding: 8px;
    border-radius: 16px;
}

.add-event-form-div > button {
    width: 75%;
    margin: 8px;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 8px;
}

.schedule-div {
    width: 75%;
    min-width: 384px;
    min-height: 192px;
}

.hour-td {
    border: 2px solid black;
    margin: 0px;

    width: 32px;
    height: 32px;
}

.hour-td.active {
    background-color: #4caf50;
}

.schedule-filter-controls-div {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.update-schedule-button {
    width: 75%;
    margin: 8px 8px 8px 8px;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 8px;
}

.update-schedule-div {
    display: flex;
    flex-direction: column;
}
